After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/
ExecStart=/usr/bin/python3 /home/ec2-user/main.py
Environment="DATABASE_URL=mysql://root:Welcome!22@localhost"
Environment="APP_HOST=0.0.0.0"
Environment="APP_PORT=5000"
ExecStart=/usr/bin/python3 /home/ec2-user/app.py
Restart=always  


[Install]
WantedBy=multi-user.target
